<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Rediriger vers public
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
    
    # Redirection pour le routage MVC
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

<IfModule mod_php.c>
    php_value upload_max_filesize 2M
    php_value post_max_size 8M
</IfModule>